<h2 class="mb-4 {% if site.style == 'dark' %}text-white{% endif %}" >About me</h2>
<!-- <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Self introduction</p> -->
<!-- <div class="d-sm-flex flex-wrap gutter-condensed mb-4"> -->
<!-- <div class="flex-wrap gutter-condensed mb-4">

  <div class="mb-4">
    <div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
        <div>
          
          <div class="mb-2 ws-normal"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa neque quae deserunt ut optio quia alias laboriosam quisquam animi quam, temporibus incidunt sunt natus corporis repellat assumenda atque laborum aperiam. </div>
        </div>
      </div>

  </div>




</div> -->


<p class="f4 mb-4 ws-normal {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  I completed my master's degree in Computer and Information Science at the University of Pennsylvania in Dec 2023.
  I am actively looking for a <b>full-time</b> position as an <b>Software Engineer</b> and I could start immediately.
  Please feel free to reach out to me if you have any questions or opportunities! Here is my               
  <a href="https://drive.google.com/file/d/1cg7PZ6eMGXy8IXDPTp0AkSIVU0J-X07u/view?usp=drive_link">
    Resume
  </a>.
</p>